<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.myxianwen.view">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 视频亮度控制 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".BaseApplication2"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity3"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".VideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".SubjectListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PicDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CommentListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyCommendDialogStyle"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>